.wrapper{
    padding: 5% 3%;
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.card{
    margin-bottom: 10%;
    /* background-color: aliceblue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 40%;
}
table{
    width: 30%;
    margin-left: 10%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.5em;
}

table, tr, td{
    border: solid 1.5px black;
    border-collapse: collapse;
    text-align: center;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
td{
    padding: 3%;
}

.font {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}